<app-navbar></app-navbar>
<!--<h1>{{title}}</h1>
id : {{product.id}}<br>
Name :{{product.name}}
<div *ngIf="products.length === 0">
<p>Pas de produit</p>
</div>
<div *ngIf="products.length > 0">
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
    </tr>
    <tr *ngFor="let p of products" [class]="getColorClass(p)">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.quantity}}</td>
        <td><button [disabled]="p.quantity == 0" (click)="Acheter(p)">Buy</button></td>
    </tr>
</table>
</div>-->
<router-outlet></router-outlet>

